.styled-translation {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  height: 100%;
  width: 100%;
  min-width: 50px;
  min-height: 50px;
  cursor: pointer;
  outline: 0px solid transparent;
  white-space: pre-wrap;
  //   background: red;
}

.styled-button {
  width: 100%;
}
