.translation-key-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 20px 0;
  font-size: 25px;

  &:hover {
    .delete-icon {
      visibility: visible;
    }
  }
}

.deleteIcon {
  padding: 2px 5px;
  visibility: hidden;
  cursor: pointer;
  font-size: 24px;

  &:hover {
    color: red;
  }
}

.styled-translation-key {
  background: "#dae4ed";
  padding: 10px;
  min-width: 10px;
  cursor: pointer;
  outline: 0px solid transparent;
}
