.translation-key-container {
	padding: 20px 30px 0;
	font-size: 25px;
	margin-bottom: 10px;
}

.deleteIcon {
  padding: 2px 5px;
  visibility: hidden;
  cursor: pointer;
  font-size: 24px;

  &:hover {
    color: red;
  }
}

.styled-translation-key {
    background: "#dae4ed";
    padding: 10px;
    padding-left: 5px;
    min-width: 10px;
    cursor: pointer;
}