.form-row {
  margin: 20px 0 20px 0;
}

.parallel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  display: block;
}

.input {
  width: 200px;
  height: 30px;
}

.project-view {
  transform: translateY(-20px);
  width: 600px;
  height: 44px;
}
